.page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
}

.container{
    display: flex;
    width: 1290px;
    min-width: 1290px;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    width: 100vw;
    position: fixed;
    height: 80px;
    justify-content: center;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    z-index: 100;
}

.navbarContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1290px;
    align-items: center;
}

.logo{
    width: 82px;
    height: auto;
}

.navbarLinks{
    display: flex;
    gap: 32px;
}

.navbarLinks a{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}

.navbarLinks a:hover{
    margin-top: -4px;
    transition: 300ms;
}

.navbar button{
    padding: 16px 32px;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000000;
    border-radius: 12px;
    transition: 300ms;
    cursor: pointer;
}

.navbar button:hover{
    background: #121212;
    color: #ffffff;
    transition: 300ms;
}

.hero{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    gap: 100px;
}

.headingWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lineWrapper{
    overflow: hidden;
}

.heading{
    font-family: 'Stapel';
    font-size: 64px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.videoWrapper{
    position: relative;
    width: 1290px;
    height: 540px;
    overflow: hidden;
    background: #000000;
    border-radius: 12px;
    border: none;
    -webkit-transform: translateZ(0);
}

.heroVideo{
    position: absolute;
    width: 1290px;
    top: -214px;
}

.block{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.block p{
    color: #121212;
    font-size: 26px;
    max-width: 863px;
    font-weight: 400;
    line-height: 130%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 120px;
}

.card{
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    background: #F5F5F5;
    width: 410px;
    cursor: pointer;
    transition: 400ms;
}

.card:hover{
    margin-top: -12px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06), -1px 12px 26px 0px rgba(0, 0, 0, 0.06), -4px 48px 48px 0px rgba(0, 0, 0, 0.05), -10px 107px 65px 0px rgba(0, 0, 0, 0.03), -17px 191px 77px 0px rgba(0, 0, 0, 0.01), -27px 298px 84px 0px rgba(0, 0, 0, 0.00);
    transition: 400ms;
}

.card h2{
    font-family: 'Stapel';
    font-size: 30px;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 400;
}

.blancCard{
    display: flex;
    height: 440px;
    justify-content: center;
    align-items: center;
    width: 410px;
}

.blancCard p{
    width: 330px;
    text-align: justify;
    font-weight: 300;
}

.cardContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.moreWrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}

.moreWrapper p{
    font-size: 18px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}